/* Start of rotating circlar text */
.circular-text{
    position: fixed;
    top: 75%;
    left: 95%;
    transform: translate(-50%, -50%);
    color: #daa520 ;
    font-size: 16px;
    font-weight: 700;
    transition: 0.5s ease-out;
}
.icon-arrow{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#arrow-down{
    font-size: 40px;
    color: #daa520 ;
}
/* End of rotating circular text */


/* Images marquee */
#marquee{
    padding: 50px 0px;
    width: 100%;
}
#marquee .container{
    overflow: hidden;
    width: 100%;
}
#marquee .pic-container{
    display: flex;
    animation: marquee 10s infinite linear;
}

#marquee .pic-container .pic{
    flex-basis: 28%;
    flex-shrink: 0;
}
.img-1{
    width: 430px;
    height: 300px;
    border-radius: 40px;
    margin-right: 20px;
    object-fit: cover;
    border: 1px solid rgba(283, 231, 231, 0.9);
}
@media (max-width: 1024px){
    #marquee .pic-container .pic{
        flex-basis: 25%;
    }
}
@media (max-width: 1024px){
    #marquee .pic-container .pic{
        flex-basis: 33.33%;
    }
}

@keyframes marquee{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}



.pic-container-2{
    display: flex;
    animation: marquee2 10s infinite linear;
    margin-top: 25px;

}

.pic-container-2 .pic-2{
    flex-basis: 28%;
    flex-shrink: 0;
}
.img-2{
    width: 430px;
    height: 300px;
    border-radius: 40px;
    margin-right: 20px;
    object-fit: cover;
    border: 1px solid rgba(283, 231, 231, 0.9);
}

@media (max-width: 1024px){
    .pic-container-2 .pic-2{
        flex-basis: 25%;
    }
}
@media (max-width: 1024px){
    .pic-container-2 .pic-2{
        flex-basis: 33.33%;
    }
}

@keyframes marquee2{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}
/* End of image marquee */

/* Gallery "See more" button */
.circle-link-hover-1{
    position: absolute;
    inset: 0%;
    display: none;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: #daa520;
    color: #daa520;
}
/* End of gallery marquee button */